@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');


body,html{
	background-color: black;
	color: pink;
	font-family: 'Anonymous Pro', monospace;
	background: url(./images/supra.png) center fixed;
	background-size: cover;
}

#title{
	color: #15022b;
	font-size: 50px;
	text-align: center;

}

header{
	margin-top: 2em;
	text-align: center;
	display: flex;
	justify-content: center;
}

p{
	font-weight: bold;
	font-size: 30px;
	color: #15022b;
}

#link-container{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	/**max-width: 480px;**/
}

li{
	font-size: 20px;
	font-weight: bold;
	list-style-type: none;
	background-color: rgba(226,125,208,0.6);
	margin: 0.5em;
	border-radius: 20px;
	box-shadow: 0 6px 6px rgba(0,0,0,0.6);
	text-align: center;
	padding: 0.5em;
	/**max-width: 480px;**/
}

a{color: #15022b;}
a:visited{text-decoration: none;}
a:link{text-decoration: none;}
a:hover{
	color: #aaa;
}

#linkedin-logo{
	width: 16px;
	height: 16px;
}

#github-logo{
	width: 16px;
	height: 16px;
}

#avatar{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	/**border: 0.5em solid pink**/
	box-shadow: 0 6px 6px rgba(0,0,0,0.6);
}

